[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
polars = "*"
pandas = "*"
numpy = "*"
plotly-express = "*"
streamlit-extras = "*"
notebook = "*"
black = "*"
spacy = "*"
nltk = "*"
wordcloud = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.11"
